<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li id="title">The All-Terrain Developer</li>
                    <li><a href="https://www.github.com/AllSeasons1867">GitHub</a></li>
                    <li><a href="https://www.linkedin.com/in/forrestwong/">LinkedIn</a></li>
                </ul>
            </nav>
        </header>
        
        <main>
            <section class="hero">
                <div>
                    <h1>Forrest Wong</h1>
                    <p>
                        I am a full stack developer interested in the fields of information theory, software engineering, videography, and IT systems administration. I am a recent graduate of TRU's Information Technology and Management program, and am undergoing a career transition from my previous life as a finance professional. I'm open to new opportunities in technology and would be happy to chat.
                    </p>
                </div>
                <div>
                    <img src="https://thumbor.forbes.com/thumbor/fit-in/900x510/https://www.forbes.com/advisor/wp-content/uploads/2023/06/person-at-computer.jpeg.jpg" alt="">
                </div>
            </section>

            <section class="projects">
                <article>
                    <h2>
                        The All-Terrain Portfolio
                    </h2>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime eaque dolore atque voluptates sit maiores aspernatur laborum quas. Ipsum optio reprehenderit repellat eum. Debitis repellendus harum eum impedit ea doloribus!
                    </p>
                </article>
                <article>
                    <h2>
                        Video Streaming Platform
                    </h2>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel, nulla. Quisquam mollitia doloremque totam tempore vero sapiente animi dignissimos quia ratione necessitatibus corporis, maxime, deserunt perferendis voluptate autem ab hic?
                    </p>
                </article>
                <article>
                    <h2>
                        Social Media Site
                    </h2>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque pariatur, animi voluptate fuga neque temporibus magnam quibusdam esse ipsam ut. Velit sit ea nihil reiciendis culpa corporis id laboriosam nisi.   
                    </p>
                </article>
            </section>

            <section class="todo">
                <h2>Here are some things I need to finish off this week. Feel free to add my list!</h2>
                <input id="toDoInput" type="text">
                <button id="addItemButton">Add Item</button>
                <ul class="todo-list">
                    <li data-item-id="1">Finish assignment for my operating systems course<br><button class="delete-button">Done</button></li>
                    <li data-item-id="2">Reconfigure homelab for virtualization cluster<br><button class="delete-button">Done</button></li>
                    <li data-item-id="3">Finish reading Claude Shannon's book<br><button class="delete-button">Done</button></li>
                    <li data-item-id="4">Crush some JavaScript exercises<br><button class="delete-button">Done</button></li>
                    <li data-item-id="5">Feed my cat<br><button class="delete-button">Done</button></li>
                    <li data-item-id="6">Buy dried mangos from Walmart<br><button class="delete-button">Done</button></li>
                </ul>
            </section>

            <section class="quote">
                <p>"Recently I was having some issues with my computer that I didn’t know how to fix. Forrest helped me. He recognized the problem and solved it immediately. So friendly and professional. I’m very pleased. Highly recommended!"</p>
                <p>
                    - Vanessa L.
                </p>
            </section>
            
        </main>

        <footer>
            <div>
                Copyright &#169; Forrest Wong 2023
            </div>
        </footer>
    </body>
</html>



